body {
    margin: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
p, td, tr, th{
	margin: 0;
	padding: 0;
}
.contenedor-principal {
    width: 100%;
    max-width: 900px;
    /*text-align: center;*/
    position: absolute;
    min-height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    background-color: #ccecf2;
    box-shadow: 0px 0px 5px black;
}

.contenedor-info {
    padding: 10px 0 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.contenedor-info label,
.contenedor-comentarios label{
	color: #b63c42;
}

.contenedor-comentarios label{
	padding: 10px 0;
}

.titulos p{
	display: inline-block;
}

.mail{
	color: 	#df3939;
}
.comentario{
	margin: 20px 0;
}

.nuevo button{
	width: 100%;
	background-color: 	#b63c42;
	color: white;
}

.contenido-comentario {
    margin-left: 50px;
    margin-top: 10px;
    border: 1px solid #fff;
    padding: 10px;
}
.botones {
    padding: 15px 10px;
    text-align: center;
}

.botones button,
button{
    width: 40%;
    height: 30px;
    background-color: #98d2d9;
    margin: 10px 0;
}

.busqueda p{
	margin: 10px 0;
}

.busqueda label{
	width: 30%;
}

.busqueda input{
	position: absolute;
	left: 170px;
}
button{
	border-radius: 5px;
}
button:hover{
	outline: none;
	box-shadow: 1px 1px 1px black;
	cursor: pointer;
}

button:active{
	background-color: #555;
	color: #fff;
	border-radius: 5px;
}

.pantalla table{
	margin-top: 40px;
	width: 100%;
}

.pantallas{
	
	padding: 15px;
	/*text-align: center;*/
}

.pantalla{
	display: none;

}

.posts:even{
	background-color: #eee;
}

.posts:odd{
	background-color: #aaa;
}

.posts{
	height: 40px;
	padding-left: 5px;
}

.posts:nth-child(even){
	background-color: 	#98d2d9;
}

.posts:hover{
	cursor: pointer;
	background-color: #ddd;
}

.posts td{
	padding: 10px;
}

.inactive{
	display: none;
}

.mensaje-error,
.mensaje-error-enviar{
	color: red;
}

label{
	font-weight: bolder;
}

.titulo{
	font-size: 40px;
	font-weight: bold;
	background-color: 	#b63c42;
	padding: 10px;
    padding: 25px 10px;
    border-bottom: 5px solid 	#ffffff;
    color: #fff;
    text-shadow: 1px 1px 1px 	#ccecf2;
    text-align: center;
}
.loader{

	display: none;
	width: 30px;
	height: 30px;
	position: absolute;
}

.mensaje{
	display: none;
}

.instrucciones{
	padding: 10px;
	color: #666;
}

.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #aaa;
  border-color: #aaa transparent #aaa transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.formulario p{
	margin: 10px 0;
}
.formulario input,
.formulario textarea{
	display: block;
	width: 100%;
	left: 100px;
	resize: none;
}
.formulario textarea{
	height: 200px;
}

@media only screen and (max-width: 450px) {
	.botones button{
		width: 100%;
	}
	.busqueda input{
		width: 100%;
		left: 0;
		display: block;
		position: relative;
	}
}
